<!DOCTYPE HTML>

<html>

<head>
    <title>CRUD Load Control</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="css/fontawesome-all.min.css" rel="stylesheet">

    <noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <!-- Note: The "styleN" class below should match that of the banner element. -->
        <header id="header" class="alt style2">
            <a href="index" class="logo"><strong>CRUD</strong> <span>Load Control</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index">Inicio</a></li>
                <li><a href="staff">Staff</a></li>
                <li><a href="player">Jugador</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="#" class="button primary fit">Empezar</a></li>
                <li><a href="login" class="button fit">Log In</a></li>
            </ul>
        </nav>

        <!-- Banner -->
        <!-- Note: The "styleN" class below should match that of the header element. -->


        <!-- Contact -->
        <section id="contact">

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix mb-3">
                            <h2 class="float-left ">Gestión de jugadores</h2>
                            <button id="1" type="button" style="height: 2.5em" class="btn btn-info float-right mt-4 equipo">Unicaja</button>
                            <button id="2" type="button" style="height: 2.5em" class="btn btn-info float-right mt-4 mr-4 equipo"> Chicago Bulls</button>
                            <button id="3" type="button" style="height: 2.5em" class="btn btn-info float-right mt-4 mr-4 equipo">Soles</button>
                        </div>


                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Email</th>
                                    <th>Club</th>
                                    <th>Pais</th>
                                    <th>Rol</th>
                                    <th>Altura</th>
                                    <th>Posición</th>
                                    <th>Peso</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>

                            <tbody id="listadocrud">


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Load Control</li>
                    <li>Design: <a href="https://html5up.net">Nacho Viano</a></li>
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.scrolly.min.js"></script>
    <script src="../js/jquery.scrollex.min.js"></script>
    <script src="../js/browser.min.js"></script>
    <script src="../js/breakpoints.min.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/mainUsers.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>


</body>

</html>