<!DOCTYPE HTML>

<html>

<head>
    <title>Log In Load Control</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
    <noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <!-- Note: The "styleN" class below should match that of the banner element. -->
        <header id="header" class="alt style2">
            <a href="index" class="logo"><strong>Log In</strong> <span>Load Control</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index">Inicio</a></li>
                <li><a href="staff">Staff</a></li>
                <li><a href="player">Jugador</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="#" class="button primary fit">Empezar</a></li>
                <li><a href="login" class="button fit">Log In</a></li>
            </ul>
        </nav>

        <!-- Banner -->
        <!-- Note: The "styleN" class below should match that of the header element. -->


        <!-- Contact -->
        <section id="contact">
            <div class="inner">
                <section>
                    <form id="loginForm">
                        <div class="fields">
                            <div class="field">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" />
                            </div>
                            <div class="field">
                                <label for="email">Contraseña</label>
                                <input type="password" name="password" id="password" />
                            </div>


                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Iniciar Sesión" id="loginButton" class="primary" /></li>

                        </ul>
                    </form>
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-envelope"></span>
                            <h3>Email</h3>
                            <a href="#">nviano@hotmail.es</a>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-phone"></span>
                            <h3>Teléfono</h3>
                            <span>(+34) 665996974</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-home"></span>
                            <h3>Dirección</h3>
                            <span>C/Rios Rosas 5 <br />
										29007 Málaga<br />
										España</span>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Load Control</li>
                    <li>Design: <a href="https://html5up.net">Nacho Viano</a></li>
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.scrolly.min.js"></script>
    <script src="../js/jquery.scrollex.min.js"></script>
    <script src="../js/browser.min.js"></script>
    <script src="../js/breakpoints.min.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/mainUsers.js"></script>
</body>

</html>