<!DOCTYPE HTML>

<html>

<head>
    <title>Load Control</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
    <noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <a href="index.ejs" class="logo"><strong>Staff Page</strong></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index">Inicio</a></li>
                <li><a href="staff">Staff</a></li>
                <li><a href="player">Jugador</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="#" class="button primary fit">Empezar</a></li>
                <li><a href="login" class="button fit">Log In</a></li>
            </ul>
        </nav>

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>Load Control</h1>
                </header>
                <div class="content">
                    <p>Controla el progreso de tus jugadores tanto en los <br />entrenamientos como en los partidos y visualiza sus gráficas</p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">Empezar</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one" class="tiles">
                <article>
                    <span class="image">
										<img src="images/login.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3><a href="login" class="link">Login</a></h3>
                        <p>Inicia tu sesión</p>
                    </header>
                </article>
                <article>
                    <span class="image">
										<img src="images/staff.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3><a href="staff" class="link">Staff</a></h3>
                        <p>Regístrate como preparador físico de tu club</p>
                    </header>
                </article>
                <article>
                    <span class="image">
										<img src="images/player.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3><a href="player" class="link">Jugador</a></h3>
                        <p>Regístrate como jugador de tu club</p>
                    </header>
                </article>
                <article>
                    <span class="image">
										<img src="images/fiba2.png" alt="" />
									</span>
                    <header class="major">
                        <h3><a href="club" class="link">Club</a></h3>
                        <p>tu club aún no está registrado ¡Solicitalo!</p>
                    </header>
                </article>

            </section>

        </div>

        <!-- Contact -->
        <section id="contact">
            <div class="inner">
                <section>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Nombre</label>
                                <input type="text" name="name" id="name" />
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" />
                            </div>
                            <div class="field">
                                <label for="message">Mensaje</label>
                                <textarea name="message" id="message" rows="6"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Envía Mensaje" class="primary" /></li>
                            <li><input type="reset" value="Borrar" /></li>
                        </ul>
                    </form>
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-envelope"></span>
                            <h3>Email</h3>
                            <a href="#">nviano@hotmail.es</a>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-phone"></span>
                            <h3>Teléfono</h3>
                            <span>(+34) 665996974</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-home"></span>
                            <h3>Dirección</h3>
                            <span>C/Rios Rosas 5 <br />
										29007 Málaga<br />
										España</span>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Load Control</li>
                    <li>Design: <a href="https://html5up.net">Nacho Viano</a></li>
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.scrolly.min.js"></script>
    <script src="../js/jquery.scrollex.min.js"></script>
    <script src="../js/browser.min.js"></script>
    <script src="../js/breakpoints.min.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>