.wrapper {
    width: 650px;
    margin: 0 auto;
}

table tr td:last-child a {
    margin-right: 15px;
}

.color {
    color: white;
}

th {
    color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
      .table-striped>tbody>tr:nth-child(odd)>th {
       background-color: rgba(255, 255, 255, 0.041);
       font-weight: 800;
       color: black;
      }
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
       background-color: rgb(132, 170, 241);
       font-weight: 800;
       color: black;

      }
     /*  .table-striped>thead>tr>th {
         background-color: #eee;
      } */