<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="js/lib/jquery_ui/jquery-ui.min.css">
    <link rel="stylesheet" href="js/lib/jquery_ui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="js/lib/jquery_ui/jquery-ui.theme.min.css">
    <script src="js/lib/jquery_ui/jquery-ui.min.js"></script>
    <link type="text/javascript" src="/js/lib/popper.min.js" charset="utf-8"></link>
    <link type="text/javascript" src="js/lib/bootstrap.min.js" charset="utf-8"></link>
    <script type="text/javascript" src="/js/reloj.js"></script>
    <script src="js/main.js"></script>
    <script src="js/proyecto.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilosReloj.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>Reloj</title>

</head>

<body onload="mueveReloj()">
    <div class="container">
        <div class="row">
            <div class="col col-12 mt-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">Inicio</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" href="reloj">Reloj</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="serpiente">Juego</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="formulario">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto mt-5">
                <form name="form_reloj">
                    <input class="clock" type="text" name="reloj" size="50" onfocus="window.document.form_reloj.reloj.blur()">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <button class="botonF1">
        <span>+</span>
    </button>
        <button class="button botonF2">
        <span>+</span>
    </button>
        <button class="button botonF3">
        <span>+</span>
    </button>
        <button class="button botonF4">
        <span>+</span>
    </button>
    </div>
</body>

</html>