<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Bienvenido a MovieFinder</h1>
    <div class="input-group mt-5">
      <input type="text" class="form-control" placeholder="Search your next film ...">
      <div class="input-group-append">
        <button class="btn btn-danger" type="button">Button</button>
      </div>
    </div>
  </div>
</div>
<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/lotr/images/8/87/Ringstrilogyposter.jpg/revision/latest?cb=20070806215413" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>